{
    "presets": [
        ["env", {
            "modules": false,
            "debug": false,
            "useBuiltIns": true,
            "loose": true,
            "targets": {
                "node": "current",
                "chrome": 56,
                "firefox": 53
            },
            "exclude": [
                "transform-regenerator"
            ]
        }],
        "react",
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread"
    ],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        },
        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    }
}
