{
    "presets": [
        ["env", {
            "modules": false,
            "debug": true,
            "targets": {
                "chrome": 56,
                "firefox": 52
            }
        }],
        "react",
    ],
    "plugins": [
        "transform-object-rest-spread"
    ],
    "env": {
        "development": {
            "plugins": ["react-hot-loader/babel"]
        }
    }
}
